<ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link">MY DASHBOARD</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">JOBS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link">COMPANIES</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">INSIDE LOOK</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">HOW IT WORKS</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled">FOR EMPLOYERS</a>
    </li>
  </ul>